* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Calibri;
}
.form {
	max-width: 500px;

	padding: 45px;
	margin: 2% auto;
}

fieldset {
	padding: 45px;
	border-color: #dedede;
	border-width: 1px;
}
.form-group {
	margin-bottom: 15px;
}
label {
	display: block;
	margin-bottom: 4px;
}
.form-control {
	height: 40px;
	border: 1px solid #dedede;
	padding: 15px;
	width: 100%;
}
.button {
	height: 40px;
	background-color: rgb(42, 55, 248);
	color: #fff;
	border: none;
	padding: 10px 25px;
	cursor: pointer;
	margin-top: 15px;
}

.form-group p {
	color: #f00;
	font-size: 14px;
}
